extends scroll_nav_nontable
block content
  head
  body(style="background: #f8f8f8;")
    div
      section.signup_mypage
        .container_mypage
          .signup-content_mypage
            .signup-form_mypage
              h2.form-title_mypage 회원정보 변경
              form#register-form.register-form(action="/submit_info", method='POST' style="font-size : 14px")
                .form-group_mypage_title
                  div
                    i.bi.bi-dot
                    span="닉네임을 변경하시려면 입력해주세요."
                .form-group_mypage
                  div
                    div.textbox_input_changeinfo
                      label(style="left : auto" for='Nickname')
                        i.textbox_icon.bi.bi-person-fill
                      input#Nickname.my_input(type="text" placeholder=`${loginid.name}` name="name" autofocus='' autocomplete="off")
                    div.textbox_alert_changeinfo
                      i#Namechecknotice.bi.bi-check-circle-fill(style="color:gray" data-toggle="tooltip" data-placement="top")
                .form-group_mypage_title
                  div
                    i.bi.bi-dot
                    span="비밀번호를 변경하시려면 입력해주세요."
                .form-group_mypage
                  div
                    div.textbox_input_changeinfo
                      label(style="left : auto" for='pass')
                        i.textbox_icon.bi.bi-lock-fill
                      input#pass.my_input(type="password" placeholder="Password" name="pass" autocomplete="off")
                    div.textbox_alert_changeinfo
                      i#PWchecknotice1.bi.bi-check-circle-fill(style="color:gray" data-toggle="tooltip" data-placement="top")
                .form-group_mypage
                  div
                    div.textbox_input_changeinfo
                      label(style="left : auto" for='re_pass')
                        i.textbox_icon.bi.bi-lock
                      input#re_pass.my_input(type="password" placeholder="Repeat password" name="re_pass" autocomplete="off")
                    div.textbox_alert_changeinfo
                      i#PWchecknotice2.bi.bi-check-circle-fill(style="color:gray" data-toggle="tooltip" data-placement="top")
                .form-group_mypage.form-button_mypage
                  button#change(type="button" class="btn btn-secondary" style="font-size : 12px; padding-top : 12px; padding-bottom : 12px; padding-left : 20px; padding-right : 20px;" disabled=true onclick="swal_checkconfirm();") 회원정보 변경
            .signup-image_mypage(style="margin:20px")
              figure.figure_mypage
                img.img_mypage(src='/images/logo/logo_300px.png' alt='sing up image')

    script.
      // 부트스트랩 - 툴팁 기능
      $(function () {
          $('[data-toggle="tooltip"]').tooltip()
      })     

      const socket = io();
      test = [1,1,1]; // 1 : 이상이 없는 경우를 표현

      Nickname.oninput = function() {
        socket.emit('checkName', {postdata: Nickname.value, socket_id : socket.id});
      };
      
      // socket.io로 서버 데이터 수신
      socket.on('Name_check', function (data) {
        if(data.checkvalue == 0){
          $('#Namechecknotice').attr('data-original-title', '');
          document.getElementById("Namechecknotice").style = 'color:gray';
          test[0] = 1;
          if(test[1] + test[2] == 2 && pass.value !== ''){
            document.getElementById('change').disabled = false;
          } else {
            document.getElementById('change').disabled = true;
          }
        } else if(data.checkvalue == 1) {
          $('#Namechecknotice').attr('data-original-title', '중복 닉네임이 존재합니다.');
          document.getElementById("Namechecknotice").style = 'color:red';
          test[0] = 0;
          document.getElementById('change').disabled = true;
        } else if(data.checkvalue == 2) {
          $('#Namechecknotice').attr('data-original-title', '사용 가능한 닉네임입니다.');
          document.getElementById("Namechecknotice").style = 'color:blue';
          test[0] = 1;
          if(test[1] + test[2] == 2){
            document.getElementById('change').disabled = false;
          } else {
            document.getElementById('change').disabled = true;
          }
        }
      });

      // 입력된 PW 유효성 검사. 보안상의 문제로 클라이언트에서 검사 후 사용.
      // PW 양식 확인
      pass.oninput = function() {
          if(pass.value == ''){
            $('#PWchecknotice1').attr('data-original-title', '');
            document.getElementById("PWchecknotice1").style = 'color:gray';
            test[1] = 1;
            if(test[0] == 1 && test[0] !== '' && test[2] == ''){
              document.getElementById('change').disabled = false;
            } else {
              document.getElementById('change').disabled = true;
            }
          } else if(pass.value.length > 20 || pass.value.length < 8){
            $('#PWchecknotice1').attr('data-original-title', '비밀번호는 8자리 이상, 20자리 이하이어야 합니다.');
            document.getElementById("PWchecknotice1").style = 'color:red'
            test[1] = 0;
            document.getElementById('change').disabled = true;
          } else if(!/^(?=.*[a-zA-Z])((?=.*\d)|(?=.*\W)).{8,20}$/.test(pass.value)){
            $('#PWchecknotice1').attr('data-original-title', '비밀번호는 숫자나, 특수문자를 포함해야 합니다.');
            document.getElementById("PWchecknotice1").style = 'color:red'
            test[1] = 0;
            document.getElementById('change').disabled = true;
          } else {
            $('#PWchecknotice1').attr('data-original-title', '사용 가능한 비밀번호입니다.');
            document.getElementById("PWchecknotice1").style = 'color:blue'
            test[1] = 1;
          }
          if(pass.value == ''){
            $('#PWchecknotice2').attr('data-original-title', '');
            document.getElementById("PWchecknotice2").style = 'color:gray';
          } else if(pass.value !== re_pass.value){
            $('#PWchecknotice2').attr('data-original-title', '서로 같은 비밀번호를 입력해 주세요.');
            document.getElementById("PWchecknotice2").style = 'color:red'
            test[2] = 0;
            document.getElementById('change').disabled = true;
          } else {
            $('#PWchecknotice2').attr('data-original-title', '서로 같은 비밀번호가 입력되었습니다.');
            document.getElementById("PWchecknotice2").style = 'color:blue'
            test[2] = 1;
            if(test[0] == 0){
              document.getElementById('change').disabled = true;
            } else if(test[1] == 0) {
              document.getElementById('change').disabled = true;
            } else {
              document.getElementById('change').disabled = false;
            }
          }
      };
      // 같은 PW 입력 확인
      re_pass.oninput = function() {
          if(re_pass.value == ''){
            $('#PWchecknotice2').attr('data-original-title', '');
            document.getElementById("PWchecknotice2").style = 'color:gray';
            test[2] = 1;
            if(test[0] !== '' && test[0] == 1 && pass.value == ''){
              document.getElementById('change').disabled = false;
            } else {
              document.getElementById('change').disabled = true;
            }
          } else if(pass.value !== re_pass.value){
              $('#PWchecknotice2').attr('data-original-title', '서로 같은 비밀번호를 입력해 주세요.');
              document.getElementById("PWchecknotice2").style = 'color:red'
              test[2] = 0;
              document.getElementById('change').disabled = true;
          } else {
              $('#PWchecknotice2').attr('data-original-title', '서로 같은 비밀번호가 입력되었습니다.');
              document.getElementById("PWchecknotice2").style = 'color:blue'
              test[2] = 1;
              if(test[0] == 0){
                document.getElementById('change').disabled = true;
              } else if(test[1] == 0) {
                document.getElementById('change').disabled = true;
              } else {
                document.getElementById('change').disabled = false;
              }
          }
      };

      function swal_checkconfirm() {
        Swal.fire({
          title: '회원정보를 변경하시겠습니까?',
          text: "변경할 시 자동으로 로그아웃됩니다.",
          icon: 'warning',
          showDenyButton: true,
          showCancelButton: false,
          confirmButtonText: `변경`,
          denyButtonText: `취소`,
        }).then((result) => {
          /* Read more about isConfirmed, isDenied below */
          if (result.isConfirmed) {
            Swal.fire({
                toast: true,
                icon: 'success',
                title: "곧 로그아웃됩니다.",
                showConfirmButton: false,
                timer: 2000,
                timerProgressBar: true,
            })
            $('#register-form').attr('action','/submit_info').submit();
          }
        })
      }