extends scroll_nav_nontable
block content
  head
  body(style="background: #f8f8f8;")
    div
      section.signup_mypage
        .container_mypage
          .signup-content_mypage
            .signup-form_mypage
              h2.form-title_mypage 회원정보 변경
              form#register-form.register-form(action="/change_info", method='POST' style="font-size : 14px")
                .form-group_mypage
                  div
                    span(style="margin-left : 20px;")
                .form-group_mypage_title
                  div
                    i.bi.bi-dot
                    span="비밀번호를 입력해주세요."
                .form-group_mypage
                  div
                    div
                      label(style="left : auto" for='pass')
                        i.textbox_icon.bi.bi-lock-fill
                      input#pass.my_input(type="password" placeholder="Password" name="pass" autofocus='' required)
                .form-group_mypage.form-button_mypage
                  button(type="submit" class="btn btn-secondary" style="font-size : 12px; padding-top : 12px; padding-bottom : 12px; padding-left : 20px; padding-right : 20px;") 제출
            .signup-image_mypage(style="margin:20px")
              figure.figure_mypage
                img.img_mypage(src='/images/logo/logo_300px.png' alt='sing up image')