doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= pageinfo
    link(rel='stylesheet', href='/stylesheets/style_auth.css')
    link(rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css")
    link(rel="shortcut icon" href="/images/logo/favicon.png")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js") 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
    script(src="/node_modules/bootstrap/dist/js/bootstrap.min.js")
    script(src='/javascripts/socketIO/socket.io.js')

    <!-- sweetalert 2 module -->
    script(src="/node_modules/sweetalert2/dist/sweetalert2.all.js")
    link(rel="stylesheet" href="/node_modules/sweetalert2/dist/sweetalert2.min.css")
    script(src="/javascripts/alert.js")

    
  body
    block content