extends layout
block content
    link(href="/stylesheets/signin.css" rel="stylesheet")
    body(class="text-center", style="font-size:14px")
        form.form-signin(action='/login')
            img.mb-4(src='/images/logo/logo_200px.png' alt='' width='200' height='200')
            label.sr-only(for='inputEmail') 아이디
            input#inputEmail.form-control(style="font-size:13px" type='email' placeholder='아이디' required='' autofocus='')
            label.sr-only(for='inputPassword') 비밀번호
            input#inputPassword.form-control(style="font-size:13px" type='password' placeholder='비밀번호' required='')
            .checkbox.mb-3
                label
                input(type='checkbox' value='remember-me')
                |  로그인 상태 유지
            button.btn.btn-lg.btn-primary.btn-block(type='submit' style="font-size:17px") 로그인
            p 
            p
                a(href='/sign_up', style="margin : 10px") 회원가입
    <!-- This templates was came from (https://getbootstrap.com/docs/5.0/examples/sign-in/) -->