extends scroll_nav
block content
  head
  body 
    div.body_middle
      h4(style="position: relative; margin-left:10px; font-weight: bold;") 회원정보
      p 아이디
      p 닉네임
      p 이메일 주소
      p 보유 자산
      p 관심 자산
      p 로그아웃, 회원정보 변경, 회원 탈퇴
      button(type="button" class="btn btn-secondary") 로그아웃
      button(type="button" class="btn btn-secondary") 회원정보 변경
      button(type="button" class="btn btn-secondary") 회원 탈퇴