doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css")
    link(rel="shortcut icon" href="/images/logo/favicon.png")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css")

    <!-- Custom styles for this template -->
    link(href="/stylesheets/scrolling-nav.css" rel="stylesheet")
    link(href="/stylesheets/fresh-bootstrap-table.css" rel="stylesheet")

    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")
    script(src='/javascripts/socketIO/socket.io.js')

    <!-- bootstrap-table -->
    script(src="https://unpkg.com/bootstrap-table/dist/bootstrap-table.min.js")

    <!-- Custom JavaScript for this theme -->
    script(src="/javascripts/scrolling-nav.js")
  body
    <!-- Navigation -->
    nav(class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav")
      div(class="container")
        a(class="navbar-brand js-scroll-trigger" href="/") MyInvest
        button(class="navbar-toggler" style="position:absolute; right:65px; top:8px;" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")
        div(class="nav-item" style="position:absolute; color:white; right:15px; top: 50%; transform: translateY(-50%);")
          div(class="btn-group")
            i.textbox_icon.bi.bi-person-circle(type='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:30px;")
            div(class="dropdown-menu dropdown-menu-right px-4 py-3 no-drag animate slideIn" style="border-top-width: 5px; font-size:14px;")
              div(class="dropdown-header" style="color:black; font-size:15px;")=loginid.id
              div(class="dropdown-divider")
              div(class="dropdown-header" style="color:black; padding-top:3px; padding-bottom:3px;") 보유 자산 : 13종
              div(class="dropdown-header" style="color:black; padding-top:3px; padding-bottom:3px;") 관심 자산 : 21종
              div(class="dropdown-divider")
              div(class="dropdown-item backcolor_dropdown")
                i.bi.bi-gear-fill
                a(href="#" style="color:black") &nbsp;&nbsp;마이페이지
              div(class="dropdown-divider")
              div(class="dropdown-item backcolor_dropdown")
                i.bi.bi-box-arrow-up-right
                a(href="/logout" style="color:black") &nbsp;&nbsp;로그아웃
        div(class="collapse navbar-collapse" id="navbarResponsive" style="margin-right:20px")
          ul(class="navbar-nav ml-auto")
            li(class="nav-item")
              -if(pagestatus == 1)
                a(class="nav-link js-scroll-trigger" href="/asset" style="color:white") 보유 자산
              -else
                a(class="nav-link js-scroll-trigger" href="/asset") 보유 자산
            li(class="nav-item")
              -if(pagestatus == 2)
                a(class="nav-link js-scroll-trigger" href="#services" style="color:white") 관심 자산
              -else 
                a(class="nav-link js-scroll-trigger" href="#services") 관심 자산
            li(class="nav-item")
              -if(pagestatus == 2)
                a(class="nav-link js-scroll-trigger" href="#contact" style="color:white") 환율
              -else
                a(class="nav-link js-scroll-trigger" href="#contact") 환율
    script.
      $("#login_info_btn").click(function(){
        $("#login_info").modal({backdrop: true});
      });
    block content

