extends layout
block content
    link(href="/stylesheets/sign_up.css" rel="stylesheet")
    link(href="/stylesheets/sign_up_icon_font.css" rel="stylesheet")
    div
        section.signup
            .container
                .signup-content
                    .signup-form
                        h2.form-title 회원가입
                        form#register-form.register-form(method='POST')
                            .form-group
                                label(for='name')
                                    i.zmdi.zmdi-account.material-icons-name
                                input#name(type='text' name='id' placeholder='ID')
                            .form-group
                                label(for='email')
                                    i.zmdi.zmdi-email
                                input#email(type='email' name='email' placeholder='Email')
                            .form-group
                                label(for='pass')
                                    i.zmdi.zmdi-lock
                                input#pass(type='password' name='pass' placeholder='Password')
                            .form-group
                                label(for='re-pass')
                                    i.zmdi.zmdi-lock-outline
                                input#re_pass(type='password' name='re_pass' placeholder='Repeat password')
                            .form-group.form-button
                                input#signup.form-submit(type='submit' name='signup' value='회원가입')
                    .signup-image
                        figure
                            img(src='/images/logo/logo_300px.png' alt='sing up image')
                        a.signup-image-link(href='#' style="font-size : 13px") 저는 이미 MyInvest의 회원입니다
    <!-- This templates was made by Colorlib (https://colorlib.com) -->
                            