extends scroll_nav_nontable
block content
  head
  body(style="background: #f8f8f8;")
    div
      section.signup_mypage
        .container_mypage
          .signup-content_mypage
            .signup-form_mypage
              h2.form-title_mypage 회원 탈퇴
              form#register-form.register-form(action="/sign_off" method='POST' style="font-size : 14px")
                .form-group_mypage
                  div
                    span="다음 문장을 아래에 입력해 주세요."
                    br
                    span="'회원 탈퇴에 동의합니다'"
                .form-group_mypage
                  div
                    div.textbox_input_changeinfo
                      label(style="left : auto" for='check')
                        i.textbox_icon.bi.bi-pencil-fill
                      input#check.my_input(type="text" placeholder="회원 탈퇴에 동의합니다" name="check" required autocomplete="off")
                    div.textbox_alert_changeinfo
                      i#checknotice.bi.bi-check-circle-fill(style="color:gray" data-toggle="tooltip" data-placement="top")
                .form-group_mypage
                  div
                    span="비밀번호를 다시 입력해주세요."
                .form-group_mypage
                  div
                    div.textbox_input_changeinfo
                      label(style="left : auto" for='pass')
                        i.textbox_icon.bi.bi-lock-fill
                      input#pass.my_input(type="password" placeholder="Password" name="password" required)
                    div.textbox_alert_changeinfo
                      i#PWchecknotice1.bi.bi-check-circle-fill(style="color:gray" data-toggle="tooltip" data-placement="top")
                .form-group_mypage.form-button_mypage
                  button#submit_signoff(type="submit" data-toggle="tooltip" data-placement="right" class="btn btn-secondary" style="font-size : 12px; padding-top : 12px; padding-bottom : 12px; padding-left : 20px; padding-right : 20px;" disabled=true) 회원 탈퇴
            .signup-image_mypage(style="margin:20px")
              figure.figure_mypage
                img.img_mypage(src='/images/logo/logo_300px.png' alt='sing up image')
    
    script.
      // 부트스트랩 - 툴팁 기능
      $(function () {
          $('[data-toggle="tooltip"]').tooltip()
      })     

      test = [0,0]; // 1 : 이상이 없는 경우를 표현

      check.oninput = function() {
        if(check.value == "회원 탈퇴에 동의합니다"){
          $('#checknotice').attr('data-original-title', '');
          document.getElementById("checknotice").style = 'color:blue';
          test[0] = 1;
          if(test[1] == 1){
            document.getElementById('submit_signoff').disabled = false;
            $('#submit_signoff').attr('data-original-title', '비밀번호가 일치하면 회원탈퇴가 진행됩니다');
          }
        } else if (check.value == ''){
          $('#checknotice').attr('data-original-title', '');
          document.getElementById("checknotice").style = 'color:gray';
          test[0] = 0;
          document.getElementById('submit_signoff').disabled = true;
          $('#submit_signoff').attr('data-original-title', '');
        } else {
          $('#checknotice').attr('data-original-title', '"회원 탈퇴에 동의합니다"를 똑같이 입력해주세요.');
          document.getElementById("checknotice").style = 'color:red';
          test[0] = 0;
          document.getElementById('submit_signoff').disabled = true;
          $('#submit_signoff').attr('data-original-title', '');
        }
      };

      pass.oninput = function() {
        if(!/^(?=.*[a-zA-Z])((?=.*\d)|(?=.*\W)).{8,20}$/.test(pass.value)){
          $('#PWchecknotice1').attr('data-original-title', '적절한 비밀번호를 입력해주세요');
          document.getElementById("PWchecknotice1").style = 'color:red';
          document.getElementById('submit_signoff').disabled = true;
          $('#submit_signoff').attr('data-original-title', '');
          test[1] = 0;
        } else if (pass.value == ''){
          $('#PWchecknotice1').attr('data-original-title', '');
          document.getElementById("PWchecknotice1").style = 'color:gray';
          test[1] = 0;
          document.getElementById('submit_signoff').disabled = true;
          $('#submit_signoff').attr('data-original-title', '');
        } else {
          $('#PWchecknotice1').attr('data-original-title', '');
          document.getElementById("PWchecknotice1").style = 'color:blue';
          test[1] = 1;
          if(test[0] == 1){
            document.getElementById('submit_signoff').disabled = false;
            $('#submit_signoff').attr('data-original-title', '비밀번호가 일치하면 회원탈퇴가 진행됩니다');
          }
        }
      };